.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

div#activity-overlay {
    background-color: $blue-blue;
    position: fixed;
    height: 100vh;
    z-index: 10;
    width: 0;
    overflow: hidden;
    transition: width .9s linear;

    div {
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: center;
        height: 100vh;

        img {
            width: 200px;
        }
    }
}

div#instruction-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $royal;
    display: flex;
    justify-content: space-between;
    transition: opacity, .5s linear;
    z-index: 9;

    div {
        display: flex;

        &:first-of-type {
            align-items: center;
            margin-left: 38px;

            img {
                width: 169px;
                margin-left: 58px;
            }
        }

        &:nth-child(2) {
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: $main-font;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 6px;
                text-align: center;
                margin-top: 35px;
            }

            p {
                font-family: GothamBook, sans-serif;
                font-weight: 300;
                width: 290px;
                text-align: center;
                font-size: 20px;
                line-height: 26px;
            }

            button {
                width: 260px;
                height: 75px;
                margin-top: 42px;

                hr.dash-line {
                    width: 170px;
                }
            }
        }
    }
}

div#come-back-sample-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 30, .8);
    display: block;
    z-index: 10;
    transition: opacity, .4s ease;
    opacity: 0;
    pointer-events: none;

    &.isShown {
        opacity: 1;
        pointer-events: auto;
    }

    #come-back-sample-overlay-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .text-container {
            display: flex;
            align-items: center;
            margin-top: 40px;
            flex-direction: column;
            justify-content: center;
            background-color: $royal;
            padding: 40px 30px;
            position: relative;

            .curved-header {
                position: absolute;
                width: calc(100% - 40px);
                height: 0px;
                border-bottom: 40px solid $royal;
                border-right: 40px solid transparent;
                top: 0;
            }

            div {
                display: flex;
                align-items: center;
                margin-bottom: 16px;
                margin-top: -40px;
                z-index: 2;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }

                span {
                    color: $white;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: $main-font;
                    text-transform: uppercase;
                }
            }

            p {
                width: 300px;
                font-size: 20px;
                line-height: 26px;
                font-family: $second-font;
                text-align: center;
            }
        }

        button {
            margin-left: 150px;
            width: 75px;
            height: 75px;
            border: 2px solid $white;
            background-color: $royal;
            color: $white;
            text-transform: uppercase;
            border-radius: 50%;
            box-shadow: inset 5px 2px 5px 0 rgba(14,29,242,0.5), inset -5px -2px 5px 0 rgba(20,20,30,0.2);
            font-size: 20px;
            font-weight: bold;
            position: relative;
            font-family: $main-font;

            hr.dash-line {
                width: 152px;
            }
        }
    }
}