$rblack: #000000;
$royal: #14219e;
$blue-blue: #1529ce;
$pale-lilac: #dad9ff;
$light-grey: #f6f6f6;
$white: #ffffff;
$vibrant-blue-60: rgba(21, 46, 238, 0.6);

$main-font: 'Gotham', sans-serif;

$font-size: 18px;

$logo-width: 150px;

$arrow-height: 35px;
$diretion-btn-size: 70px;
$direction-btn-container-size: 200px;
$direction-btn-box-shadow: 5px 2px 26px 0 #14141e, -5px -2px 26px 0 #152eee, inset -5px -2px 10px 0 rgba(20, 20, 30, 0.2), inset 5px 2px 10px 0 rgba(14, 29, 242, 0.5);

$radio-component-height: 50px;

$collect-container-height: 125px;
$collect-container-width: 200px;
$collect-icone-width: 25px;
