.collectContainer {
    width: 35%;
    position: relative;
    
    // centrer horizontalement
    display: flex;
    justify-content: center;
    align-items: center;

    .collectActionContainer {
        height: 100px;
        width: 200px;
        position: relative;

        .collectElement {
            position: absolute;

            &#echantilon {
                top: 0;
                display: flex;
                width: 100%;

                .iconeEchantillon {
                    border-radius: 50%;
                    border: 1px solid $pale-lilac;
                    height: 15px;
                    width: 15px;
                    margin-right: 10px;

                    &:after {
                        content: "✔";
                        display: none;
                        color: $royal;
                    }
                }

                .isPlain {
                    background-color: $pale-lilac;

                    &:after {
                        display: block;
                    }
                }
            }
    
            &#collect {
                bottom: 0;
                width: fit-content;
                padding: 15px 20px;
                border-radius: 50px;
                border: none;
                background-color: $vibrant-blue-60;
                box-shadow: 1px 2px 8px 0 #14141e, -1px -2px 8px 0 #152eee, inset -1px -1px 1px 0 rgba(20, 20, 30, 0.2), inset 1px 1px 1px 0 rgba(14, 29, 242, 0.5);

                .collect-icone {
                    margin-right: 20px;
                }
            }
        }

    }
}