.directionContainer {
    width: 45%;
    position: relative;

    // centrer horizontalement
    display: flex;
    justify-content: center;
    align-items: center;

    .btnActionContainer {
        width: $direction-btn-container-size;
        height: $direction-btn-container-size;
        position: relative;

        .btn-action {
            background-color: $royal;
            border-radius: 50%;
            border: none;
            height: $diretion-btn-size;
            width: $diretion-btn-size;
            position: absolute;
            box-shadow: $direction-btn-box-shadow;

            &#forward {
                left: 50%;
                transform: translate(-50%, 0);
            }

            &#backward {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
            }

            &#left {
                top: 50%;
                transform: translate(0, -50%);
            }

            &#right {
                top: 50%;
                transform: translate(0, -50%);
                right: 0;
            }
        }
    }
}