<div data-namespace="clues">
    <div class="content">
        <div class="directionContainer">

            <div class="btnActionContainer">
                <button id="forward" class="btn-action"><img src="./img/arrow.svg"/></button>
                <button id="backward" class="btn-action"><img src="./img/arrow.svg"/></button>
                <button id="right" class="btn-action"><img src="./img/arrow.svg"/></button>
                <button id="left" class="btn-action"><img src="./img/arrow.svg"/></button>
            </div>

        </div>

        <div class="middleContainer">
            <div class="logoContainer">
                <img id="logo" src="img/logo.svg" alt="">
            </div>
            <div class="radioContainer">
                <div class="radioComponent">
                    <button id="SPHERO1" data-device="SPHERO1" class="radioInput active"></button>
                    <label for="SPHERO1" class="radioLabel">Sphero 1</label>
                </div>
                <div class="radioComponent">
                    <button id="SPHERO2" data-device="SPHERO2" class="radioInput"></button>
                    <label for="SPHERO2" class="radioLabel isUnactive">Sphero 2</label>
                </div>
            </div>
        </div>

        <div class="collectContainer">
            <div class="collectActionContainer">

                <div id="echantilon" class="collectElement">
                    <div id="iconeEchantillon"></div>
                    <p>Echantillon vide</p>
                </div>

                <button id="collect" class="collectElement">
                    <span class="collect-icone">
                        <img src="./img/recolter.svg"/>
                    </span>
                    RECOLTER
                </button>

            </div>
        </div>

    </div>
</div>