<div class="activity" data-namespace="clues">
    <!-- Instruction overlay -->
    <div id="instruction-overlay">
        <div>
            <img src="../img/schema-sphero-position.svg" alt="">
        </div>
        <div>
            <h2>Positionnement</h2>
            <p>S'aligner avec l'échantillon pour avoir le même Nord.</p>
            <button class="indico-button" id="instruction-overlay-button">
                <img class="indico-button-icon" src="../img/white-check.svg" alt="">
                <span class="indico-button-text">En position</span>
                <hr class="dash-line">
            </button>
        </div>
    </div>
    <!-- Come back sample overlay -->
    <div id="come-back-sample-overlay">
        <div id="come-back-sample-overlay-inner">
            <div class="text-container">
                <div class="curved-header"></div>
                <div>
                    <img src="../img/arrow-come-back.svg" alt="">
                    <span>Revenir</span>
                </div>
                <p>Ramener l'échantillon avant de prélever le deuxième</p>
            </div>
            <button id="come-back-sample-overlay-button">
                Ok
                <hr class="dash-line">
            </button>
        </div>
    </div>
    <!-- Activity content -->
    <div class="left">
        <div id="joystick-container">
            <div id="joystick-container-inner">
                <button id="joystick-button-top" class="joystick-button">
                    <span></span>
                </button>
                <button id="joystick-button-right" class="joystick-button">
                    <span></span>
                </button>
                <button id="joystick-button-bottom" class="joystick-button">
                    <span></span>
                </button>
                <button id="joystick-button-left" class="joystick-button">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <div class="right">
        <button class="indico-button" id="collect-button">
            <img class="indico-button-icon" src="../img/collect.svg" alt="">
            <span class="indico-button-text">Récolter</span>
            <span id="background-overlay"></span>
            <hr class="dash-line">
        </button>
        <div class="sample-container">
            <div data-num="1" class="sample isSelected" id="first-sample">Échantillon 1</div>
            <div data-num="2" class="sample" id="second-sample">Échantillon 2</div>
        </div>
    </div>
</div>