<div class="activity" data-namespace="dog">
    <div class="left">
        <!-- Step 1 -->
        <div class="dog-container step1 isActive">
            <div>
                <img src="../img/dog-feet.svg" alt="">
                <span>Laki</span>
            </div>
        </div>
        <!-- Step 2 -->
        <div class="dog-container step2">
            <img src="../img/tissues.svg" alt="">
        </div>
        <!-- Step 3 -->
        <div class="dog-container step3">
            <div id="suspect-container" class="suspect-container">
                <img src="../img/question-mark.svg" alt="">
                <span>3</span>
            </div>
        </div>
        <!-- Step 4 -->
        <div class="dog-container step4">
            <img src="../img/change-order.svg" alt="">
        </div>
    </div>
    <div class="right">
        <!-- Step 1 -->
        <div class="dog-container step1 isActive">
            <div class="text-container">
                <h2>Départ</h2>
                <p>Votre chien est prêt à commencer.</p>
            </div>
            
            <button id="button-step1" class="indico-button">
                <img class="indico-button-icon" src="../img/dog.svg" alt="">
                <span class="indico-button-text">Debout</span>
                <hr class="dash-line">
            </button>
        </div>
        <!-- Step 2 -->
        <div class="dog-container step2">
            <div class="text-container">
                <h2>Avant</h2>
                <p>Faites sentir l'odeur du coupable sur le chiffon à votre chien.</p>
            </div>

            <button id="button-step2" class="indico-button">
                <img class="indico-button-icon" src="../img/dog-search.svg" alt="">
                <span class="indico-button-text">Cherche</span>
                <hr class="dash-line">
            </button>
        </div>
        <!-- Step 3 -->
        <div id="right-step3" class="dog-container step3">
            <div class="text-container">
                <h2 id="title-step3">Recherche en cours</h2>
                <p id="description-step3">Ne bougez pas pendant la phase de recherche du chien</p>
            </div>

            <button id="button-position-step3" class="indico-button">
                <img src="../img/white-check.svg" alt="">
                <span class="indico-button-text">En position</span>
                <hr class="dash-line">
            </button>
            <button id="button-search-step3" class="indico-button">
                <img src="../img/dog-search.svg" alt="">
                <span class="indico-button-text">Cherche</span>
                <hr class="dash-line">
            </button>
        </div>
        <!-- Step 4 -->
        <div class="dog-container step4">
            <div class="text-container">
                <h2>Trouvé !</h2>
                <p>Recommencer une seconde fois en changeant l'ordre des pots.</p>
            </div>

            <button id="button-step4" class="indico-button">
                <img src="../img/white-check.svg" alt="">
                <span class="indico-button-text">En position</span>
                <hr class="dash-line">
            </button>
        </div>
    </div>
</div>