div[data-namespace="clues"] {
    position: relative;
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;

        &.isBlur {
            filter: blur(8px);
        }

        #joystick-container {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 2px solid rgba(255,255,255,.05);
            display: flex;
            justify-content: center;
            align-items: center;

            &.isTop {
                border-top: 2px solid $white;
            }
            &.isRight {
                border-right: 2px solid $white;
            }
            &.isBottom {
                border-bottom: 2px solid $white;
            }
            &.isLeft {
                border-left: 2px solid $white;
            }

            &-inner {
                width: 120px;
                height: 120px;
                position: absolute;

                // Link to make triangle with CSS: https://css-tricks.com/the-shapes-of-css/
                .joystick-button {
                    width: 90px;
                    height: 90px;
                    background-color: $royal;
                    border-radius: 50%;
                    position: absolute;
                    outline: none;
                    border: none;
                    user-select: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: inset 5px 2px 10px 0 rgba(14,29,242,0.5), inset -5px -2px 10px 0 rgba(20,20,30,0.2), -5px -2px 26px 0 #152EEE, 5px 2px 26px 0 #14141E;

                    span {
                        display: block;
                        width: 0;
                        height: 0;

                    }
                }

                button#joystick-button-top {
                    top: -50%;
                    left: 50%;
                    transform: translateX(-50%);

                    span {
                        border-bottom: 20px solid $white;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                    }
                }

                button#joystick-button-right {
                    right: -50%;
                    top: 50%;
                    transform: translateY(-50%);

                    span {
                        border-top: 20px solid transparent;
                        border-left: 20px solid $white;
                        border-bottom: 20px solid transparent;
                    }
                }

                button#joystick-button-bottom {
                    bottom: -50%;
                    left: 50%;
                    transform: translateX(-50%);

                    span {
                        border-top: 20px solid $white;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                    }
                }

                button#joystick-button-left {
                    left: -50%;
                    top: 50%;
                    transform: translateY(-50%);

                    span {
                        border-top: 20px solid transparent;
                        border-right: 20px solid $white;
                        border-bottom: 20px solid transparent;
                    }
                }
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 36px;

        &.isBlur {
            filter: blur(8px);
        }

        button.indico-button {
            margin-top: 50px;

            span#background-overlay {
                position: absolute;
                z-index: 1;
                background-color: $blue-blue;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                transition: width 3s linear;
            }
        }

        .sample-container {
            display: flex;
            margin-top: 32px;

            .sample {
                background-color: $royal;
                border: 2px solid $white;
                font-family: $main-font;
                font-size: 15px;
                line-height: 18px;
                height: 45px;
                width: 134px;
                font-weight: 500;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;

                &.isSelected {
                    background-color: $white;
                    color: $royal;
                }
            }
        }
    }
}