div[data-namespace="dog"] {
    background-color: $royal;

    display: flex;
    justify-content: center;
    padding: 10vh 10px;

    img#logo {
        width: 130px;
        position: absolute;
    }

    .wrapper {
        width: 100vw;
        height: 70vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10vh;

        .iconeContainer {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                justify-content: center;
                height: 215px;
                position: relative;
                width: $dog-icone-height;

                img {
                    position: absolute;
                    height: $dog-icone-height;
                }

                .description {
                    position: absolute;
                    bottom: 6vh;
                    text-align: center;
                    background: $blue-blue;
                    box-shadow: $box-sahdow-light;
                    padding: 20px;
                    height: fit-content;
                    width: 100%;
                    font-size: 17pt;
                }
            }

            
        }

        .buttonsContainer {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            div {
                height: 200px;
                width: 250px;
                position: relative;

                button {
                    border: none;
                    display: flex;
                    border-radius: 50px;
                    align-items: center;
                    padding: $button-padding;
                    background-color: $royal;
                    justify-content: center;
                    margin-bottom: 20px;
                    font-size: $font-size;
                    position: absolute;
                    width: 100%;
                    box-shadow: $direction-btn-box-shadow;
    
                    &#standupButton {
                        top: 0;
                    }
    
                    &#searchButton {
                        bottom: 0;
                    }
    
                    img {
                        width: 35px;
                        margin-right: 15px;
                        max-height: 25px;
                    }
                    span {
                        color: $white;
                        text-transform: uppercase;
                    }
                }
            }

            
        }
    }
}