div[data-namespace="dog"] {
    transition: opacity .5s linear;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 50px;

    &.isHidden {
        opacity: 0;
    }

    .dog-container {
        visibility: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.isActive {
            visibility: visible;
        }
    }

    .left {
        flex: 1;
        position: relative;

        // Step 1 container
        .dog-container.step1 {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            div {
                position: relative;

                span {
                    position: absolute;
                    width: 200px;
                    height: 53px;
                    font-family: $main-font;
                    font-weight: 500;
                    text-transform: uppercase;
                    box-shadow: inset -3px -3px 6px 0 #152EEE, inset 3px 3px 6px 0 #14141E;
                    background-color: $blue-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: -15px;
                }
            }
        }
        // Step 2 container
        .dog-container.step2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        // Step 3 container
        .dog-container.step3 {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .suspect-container {
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: linear-gradient(90deg, $white 50%, transparent 50%), linear-gradient(90deg, $white 50%, transparent 50%), linear-gradient(0deg, $white 50%, transparent 50%), linear-gradient(0deg, $white 50%, transparent 50%);
                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
                background-position: left top, right bottom, left bottom, right top;
                margin-left: 20px;
                animation: border-animation 1s infinite linear;

                span {
                    font-size: 120px;
                    font-family: $main-font;
                    font-weight: 700;
                    display: none;
                }

                &.isFound {
                    animation: none !important;
                    border: 2px solid $white;
                    background: none;

                    img {
                        display: none;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }
        // Step 4 container
        .dog-container.step4 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    .right {
        flex: 1;
        position: relative;

        // Step 1 container
        .dog-container.step1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-container {
                text-align: center;
                width: 300px;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }

            button {
                width: 265px;
                height: 77px;
                margin-top: 26px;
                position: relative;
            }
        }
        // Step 2 container
        .dog-container.step2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-container {
                text-align: center;
                width: 330px;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }

            button {
                width: 265px;
                height: 77px;
                margin-top: 26px;
                position: relative;
            }
        }
        // Step 3 container
        .dog-container.step3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            &.positionMode {
                button#button-position-step3 {
                    visibility: visible;
                    position: relative;
                }
            }

            &.searchMode {
                button#button-search-step3 {
                    visibility: visible;
                    position: relative;
                }
            }

            .text-container {
                text-align: center;
                width: 340px;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }

            button {
                margin-top: 26px;
                position: absolute;
                visibility: hidden;
            }
        }
        // Step 4 container
        .dog-container.step4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-container {
                text-align: center;
                width: 328px;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }

            button {
                width: 262px;
                height: 77px;
                margin-top: 26px;
                position: relative;
            }
        }
    }

}

@keyframes border-animation {
    0% {
        background-position: left top, right bottom, left bottom, right   top;
    }
    100% {
        background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
    }
}