body#dog-activity {
    background-color: $royal;

    .wrapper {
        max-width: 414px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        img#logo {
            margin-top: 90px;
            width: 130px;
        }

        div {
            display: flex;
            flex-direction: column;
            margin-top: 50px;

            button {
                border: none;
                display: flex;
                border-radius: 35px;
                align-items: center;
                padding: 25px 30px;
                background-color: $blue-blue;
                justify-content: center;
                margin-bottom: 20px;
                font-size: 20px;
            ;
                img {
                    width: 35px;
                    margin-right: 15px;
                }
                span {
                    color: $white;
                    text-transform: uppercase;
                }
            }
        }
    }
}