div[data-namespace="labo"] {
    transition: opacity .5s linear;
    display: flex;
    justify-content: space-between;

    &.isHidden {
        opacity: 0;
    }

    .labo-container {
        visibility: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.isActive {
            visibility: visible;
        }
    }

    .left {
        flex: 1;
        position: relative;

        // Step 1 container
        .labo-container.step1 {
            display: flex;
            align-items: center;

            img {
                margin-left: 75px;
            }
        }
        // Step 2 container
        .labo-container.step2 {
            display: flex;
            align-items: center;

            img {
                width: 280px;
                transition: none !important;

                &.isAnimate {
                    animation: rotate 4s linear infinite;
                }
            }
        }
        // Step 3 container
        .labo-container.step3 {
            display: flex;
            align-items: center;

            img {
                margin-left: 68px;
            }
        }
    }

    .right {
        flex: 1;
        position: relative;

        // Step 1 container
        .labo-container.step1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-container {
                width: 340px;
                text-align: center;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }

            button {
                width: 298px;
                height: 77px;
                margin-top: 40px;

                hr {
                    width: 160px;
                }
            }
        }
        // Step 2 container
        .labo-container.step2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button.indico-button {
                width: 297px;
                height: 75px;

                span.indico-button-text {
                    font-family: $second-font;
                    font-weight: normal;
                    text-transform: none;
                    margin: 0;
                }
            }

            .loading-bar {
                width: 297px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 6px;
                margin-top: 32px;
                position: relative;
                overflow: hidden;

                &-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background-color: $white;
                    transition: width 1s linear, background-color .5s ease-out;
                }
            }
        }
        // Step 3 container
        .labo-container.step3 {
            display: flex;
            align-items: center;
            justify-content: center;

            .text-container {
                width: 370px;
                text-align: center;
                font-size: 20px;
                line-height: 27px;

                p {
                    font-weight: 300;
                }
            }
        }
    }

    .left {
        .step1 {

        }

        .step2 {

        }

        .step3 {

        }
    }
}

// Animation

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}