body {
    background-color: $royal;
    font-family: $main-font;
    overflow: hidden;
    color: $white;
    padding: $gap-container;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

button:focus {
    outline: none;
    box-shadow: none;
}
