@import 'utils/reset';
@import 'utils/fonts';
@import 'utils/variables';
@import "utils/common";

@import 'body';

@import 'content/content';

@import 'content/middleContainer/middleContainer';
@import 'content/middleContainer/logoContainer';
@import 'content/middleContainer/radioContainer';

@import 'content/directionContainer';
@import 'content/collectContainer';

// PAGES
@import "pages/labo";