@import 'utils/reset';
@import 'utils/fonts';
@import 'utils/variables';
@import "utils/common";

@import 'body';

// PAGES
@import "pages/labo";
@import "pages/dog";
@import "pages/clues";

// COMPONENTS
@import "components/overlay";
@import "components/button";
@import "components/breadcrumb";

// RESPONSIVE
@import "utils/responsive";